nav{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 0 2rem;
}
nav .logout button{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(31, 28, 28);
    text-transform: uppercase;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    text-decoration: none;
}
nav .logout span {
    margin-right: 10px;
}
.menu a h1{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(31, 28, 28);
    text-transform: uppercase;
}
.menu a{
    border: 1px solid black;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    text-decoration: none;
}
.menu a:hover{
    background-color: rgb(55, 141, 221);
    color: white;
    transition: all 0.3s ease-in-out;
}
nav .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}